<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Credit Analyst</title>
</head>
<body>

<section class="dinamico">
    <div layout:fragment="views">
        <div class="col mt-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h1 class="text-center text-primary" th:text="${titulo}"></h1>
                    </div>
                    <div class="card-body">
                        <div th:replace="fragments/ApplicationsTable.html"></div>
                    </div>

                </div>
            </div>
        </div>
</section>

<th:block layout:fragment="page-scripts">
    <script th:src="@{js/CreditEmployee.js}"></script>
</th:block>
</body>
</html>