<table class="table table-striped" id="creditTable">
    <thead>
    <tr class="text-center">
        <th>Instance Id</th>
        <th>Couple's Names</th>
        <th>Start Date</th>
        <th>Action</th>

<!--        Primera Version-->
<!--        <th>Couple's Names</th>-->
<!--        <th>Couple's savings</th>-->
<!--        <th>House Prices</th>-->
<!--        <th>Quota Value</th>-->
<!--        <th>Action</th>-->
    </tr>
    </thead>
    <tbody>

    <tr class="text-center" th:each="processVariablesList, index : ${processVariablesList}">
        <td th:text="${processVariablesList.processId}"></td>
        <td th:text="${processVariablesList.coupleName1 + ' y ' + processVariablesList.coupleName2}"></td>
        <td th:text="${processVariablesList.requestDate}"></td>
        <td style="display: none" th:text="${processVariablesList.marriageYears}"></td>
        <td style="display: none" th:text="${processVariablesList.bothEmployees}"></td>
        <td style="display: none" th:text="${processVariablesList.housePrices}"></td>
        <td style="display: none" th:text="${processVariablesList.quotaValue}"></td>
        <td style="display: none" th:text="${processVariablesList.coupleSavings}"></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#application" onclick="fillFormFields(this)">
            <i class="fa-solid fa-magnifying-glass mx-1"></i>
            <span>Review Application</span>
        </button></td>
    </tr>

    <div class="modal fade" id="application" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Application</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="get">
                    <div class="modal-body">
                        <div th:replace="fragments/ApplicationsForm.html"></div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#applicationRejected">
                            <i class="fa-solid fa-circle-xmark mx-1"></i>
                            <span>Rejected</span>
                        </button>
                        <button  id="approveButton" type="submit" class="btn btn-success">
                            <i class="fa-solid fa-circle-check mx-1"></i>
                            <span>Approve</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="applicationRejected" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Reason for Rejection</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="get">
                    <div class="modal-body">
                        <div class="form-floating mb-3 p-1">
                            <textarea class="form-select" id="rejected" placeholder="Leave a comment here" style="height: 200px ; background-image: none; resize: none"></textarea>
                            <label for="rejected">Reason</label>
                        </div>
                        <input id="taskId" type="hidden" name="taskId">
                        <input id="variable" type="hidden" name="variable">
                        <input id="assignee" type="hidden" name="assignee">
                        <input id="value" type="hidden" name="value">
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button  type="submit" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa-solid fa-circle-xmark mx-1"></i>
                            <span>Cancel</span>
                        </button>
                        <button id="rejectedButton" type="submit" class="btn btn-success">
                            <i class="fa-solid fa-circle-check mx-1"></i>
                            <span>Confirm</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    Primera Version -->
<!--    <tr class="text-center" th:each="processVariablesList, index : ${processVariablesList}">-->
<!--        <td th:text="${processVariablesList['coupleName1']['value'] + ' y ' + processVariablesList['coupleName2']['value']}"></td>-->
<!--        <td th:text="${processVariablesList['coupleSavings']['value'] }"></td>-->
<!--        <td th:text="${processVariablesList['housePrices']['value']}"></td>-->
<!--        <td th:text="${processVariablesList['quotaValue']['value'] }"></td>-->
<!--        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--            Review Application-->
<!--        </button></td>-->
<!--        </td>-->
<!--    </tr>-->
    </tbody>
</table>
