<div class="card-body d-flex">

    <div class="card-header">
        <div class="card-title">
            <h1 class="text-center">Credit Information</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="taskId"
                   name="taskId"
                   readonly>
            <label for="taskId">process Id:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="CoupleName"
                   name="CoupleName"
                   readonly>
            <label for="CoupleName">Couple's Names:</label>
        </div>

        <input id="assignee" type="hidden" name="assignee">
        <input id="isValid" type="hidden" name="isValid">

        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="requestDate"
                   name="requestDate"
                   readonly>
            <label for="requestDate">Start Date:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="number" id="marriageYears"
                   name="marriageYears"
                   readonly>
            <label for="marriageYears">Years of Marriage:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <select class="form-select" id="bothEmployees" name="bothEmployees">
                <option value="" disabled selected>Both are employed?</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <label for="bothEmployees">Both Employed:</label>
        </div>

        <div class="form-floating mb-3 p-1" id="housePricesContainer">
            <input class="form-control" type="number" id="housePrices"
                   name="housePrices"
                   placeholder="Enter house prices"
                   readonly>
            <label type="hidden" for="housePrices">House Prices:</label>
        </div>
        <div class="form-floating mb-3 p-1" id="quotaValueContainer">
            <input class="form-control" type="number" id="quotaValue"
                   name="quotaValue"
                   placeholder="Enter quota value"
                   readonly>
            <label for="quotaValue">Quota Value:</label>
        </div>
        <div class="form-floating mb-3 p-1" id="coupleSavingsContainer">
            <input class="form-control" type="number" id="coupleSavings"
                   name="coupleSavings"
                   placeholder="Enter couple savings"
                   readonly>
            <label for="coupleSavings">Couple Savings:</label>
        </div>

    </div>

</div>
