<div class="card-body d-flex">

    <div class="card-header">
        <div class="card-title">
            <h1 class="text-center">Credit Information</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="taskId"
                   name="taskId"
                   readonly>
            <label for="taskId">process Id:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="CoupleName"
                   name="CoupleName"
                   readonly>
            <label for="CoupleName">Couple's Names:</label>
        </div>

        <input id="assignee" type="hidden" name="assignee">
        <input id="isValid" type="hidden" name="isValid">

        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="text" id="StartDate"
                   name="StarDate"
                   readonly>
            <label for="StartDate">Start Date:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="number" id="marriageYears"
                   name="marriageYears"
                   th:value="${processVariablesList[0].marriageYears}"
                   readonly>
            <label for="marriageYears">Years of Marriage:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <select class="form-select" id="bothEmployees" name="bothEmployees"
                    onblur="validatebothEmployees(this)">
                <option value="" disabled selected>Both are employed?</option>
                <option value="Yes" th:selected="${processVariablesList != null and processVariablesList.size() > 0? processVariablesList[0].bothEmployees == true : true}">Yes</option>
                <option value="No" th:selected="${processVariablesList != null and processVariablesList.size() > 0 ? processVariablesList[0].bothEmployees == false : false}">No</option>
            </select>
            <label for="bothEmployees">Both Employed:</label>
        </div>

        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="number" id="housePrices" min="0" step="100000"
                   name="housePrices"
                   placeholder="Enter house prices"
                   oninput="updateCoupleSavingsMax()"
                   th:value="${processVariablesList[0].housePrices}"
                   readonly>
            <label for="housePrices">House Prices:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="number" id="quotaValue" min="10000" step="10000"
                   name="quotaValue"
                   placeholder="Enter quota value"
                   th:value="${processVariablesList[0].quotaValue}"
                   readonly>
            <label for="quotaValue">Quota Value:</label>
        </div>
        <div class="form-floating mb-3 p-1">
            <input class="form-control" type="number" id="coupleSavings" min="0"
                   name="coupleSavings"
                   placeholder="Enter couple savings"
                   th:value="${processVariablesList[0].coupleSavings}"
                   readonly>
            <label for="coupleSavings">Couple Savings:</label>
        </div>

    </div>

</div>
