<table class="table table-striped" id="creditTable">
    <thead>
    <tr class="text-center">
        <th scope="col">Credit Cod</th>
        <th scope="col">House Price</th>
        <th scope="col">Quota Value</th>
        <th scope="col">Request Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
        <td><span></span></td>
        <td><span></span></td>
        <td></td>
        <td></td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Review Application
            </button>
        </td>
    </tr>
    </tbody>
</table>